* {
  border: 1px solid black;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  background-color: grey;
}

.nav-header {
  font-weight: 700;
  font-size: 1.5rem;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
}

.navbar li {
  margin: 0 7vw 0 7vw;
  height: 5vh;
  list-style: none;
  text-align: center;
}
